<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/users_app/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/users_app/css/logo.css">
    <title>股票预测-首页</title>
</head>

<body>
    <div class="logo_table">
        <div class="logo_img"></div>
        <button class="button_login">Login</button>
        <button class="button_register">Register</button>
    </div>
    <div class="guidance_table">
        <p class="guidance">股市导航>></p>
        <button class="market">市场指数</button>
        <button class="market1">A股</button>
        <button class="market2">美股</button>
    </div>
    <div class="serach_table">
        <form method="get" action="/index/">
            {% csrf_token %}
            {{form.search}}
            <button type="submit">搜索</button>
        </form>
    </div>
    <div class="hot_stocks">

    </div>
    <div class="news">

    </div>

</body>

</html>