.button_register,
.button_login {
    width: 70px;
    height: 34px;
    position: absolute;
    border-radius: 6px;
    border: none;
    color: rgb(242, 246, 251);
    font-weight: 800;
    background-color: rgb(89, 238, 243);
    transition: background-color 0.3s ease;
}

.button_login {
    right: 120px;
    top: 15px;
}

.button_register {
    right: 40px;
    top: 15px;
}

.guidance_table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    margin-bottom: 40px;
    width: 1000px;
    min-width: 500px;
}

.guidance {
    position: absolute;
    left: 30px;
    top: 10px;
    font-weight: 500;
}

.market,
.market2,
.market1 {
    width: 70px;
    height: 30px;
    border: none;
    color: rgb(242, 246, 251);
    font-weight: 600;
    background-color: rgb(89, 238, 243);
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.market {
    margin-left: 125px;
    margin-top: 8px;
}

.serach_table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    min-width: 500px;
}

#id_search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 40px;
    border: none;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
    border-radius: 24px;
}

form button {
    width: 70px;
    height: 34px;
    position: absolute;
    right: 116px;
    top: 5px;
    border-radius: 6px;
    border: none;
    color: rgb(242, 246, 251);
    font-weight: 800;
    background-color: rgb(89, 238, 243);
    transition: background-color 0.3s ease;
}

.guidance_table button:hover,
form button:hover,
.button_login:hover,
.button_register:hover {
    background-color: rgb(0, 203, 214);
}